/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--section-accent-color);
  background-color: var(--secondary-background-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
