.team-section {
  padding-top: 94px;
  background-color: var(--team-background-color);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  align-items: center;

  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team-list {
  display: flex;
  align-items: center;

  &__item {
    background: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__text {
    padding: 30px 32px;
  }

  &__name {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
  }
  &__position {
    margin-bottom: 16px;
  }
}
