%social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  list-style: none;
  background-color: var(--main-background-color);
  fill: var(--team-icon-bgrn-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%social-icons:hover,
%social-icons:focus {
  background-color: var(--accent-color);
  fill: var(--section-accent-color);
}
